body {
  background-color: #E7EFF2;
  color: #023196;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover { color:#023196; } /* mouse over */


h1 {
  font-size: 2.5em;
  line-height: 2em;
}

h3 {
  font-size: 1.5em;
  line-height: normal;
}

figcaption {
  font-size: 80%;
}

.author{
  font-size: 80%;
  line-height: 3em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  line-height: 1.5em;
}
